Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
prodDb.mv.db
packaged-chart
*.lock
charts/*.tgz
bin
node_modules/
package.json
package-lock.json
cypress/plugins/
cypress/screenshots/
cypress/support/
results/
